---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACf9740b6ac694a9741c96a7a4b4adfb42/Messages.json
    body:
      encoding: UTF-8
      string: Body=Test+sms&From=%2B18317132777&To=%2B95505550000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNmOTc0MGI2YWM2OTRhOTc0MWM5NmE3YTRiNGFkZmI0Mjo2MDUxZDdjZDExNWM1ZDUyZDRhNjFhZTFlOGVjMDgzYw==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.172'
      Twilio-Request-Id:
      - RQ5145e0c53a6c46efa9b0b464eff84bbc
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21614, "message": "To number: +95505550000, is not a mobile
        number", "more_info": "https://www.twilio.com/docs/errors/21614", "status":
        400}'
  recorded_at: Tue, 12 Feb 2019 11:34:49 GMT
recorded_with: VCR 4.0.0
