---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/+12813181031?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUNmOTc0MGI2YWM2OTRhOTc0MWM5NmE3YTRiNGFkZmI0Mjo2MDUxZDdjZDExNWM1ZDUyZDRhNjFhZTFlOGVjMDgzYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.066'
      Twilio-Request-Id:
      - RQ14f02505d3344d4b8f4c34820c6ac727
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+12813181031",
        "national_format": "(281) 318-1031", "carrier": {"mobile_country_code": null,
        "mobile_network_code": null, "name": "Bandwidth Bandwidth SMS-Enabled-2 -
        Bandwidth CLEC - SVR", "type": "voip", "error_code": null}, "add_ons": null,
        "url": "https://lookups.twilio.com/v1/PhoneNumbers/+12813181031?Type=carrier"}'
  recorded_at: Tue, 12 Feb 2019 12:08:25 GMT
recorded_with: VCR 4.0.0
